body{
    margin: 0;
    font-family: Arial;
    position: relative;
    height: 100%;
}

.header-container{
    background: #243D61;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo{

}

.logo1{
    max-width: 200px;
}

.apply-now{
    background: -webkit-gradient(linear, left top, left bottom, from(#71BD3A), to(#39780C));
    padding: 10px 22px;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    border: #39780C;
    cursor: pointer;
    /*display: none;*/
}

.apply-now:hover{
    background: #264610;
}

.forms{
    background: #dfe7f3;
    color: #001640;
}

.box-menu{
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
    /*display: none;*/
}

.menu{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 3px 0;
    list-style: none;
}

.under-menu{
    /*background: white;*/
    /*max-width: 110px;*/
}

.under-menu1{
    /*background: white;*/
    /*max-width: 110px;*/
}

.under-menu2{
    display: none;
}

/*.under-menu:hover{*/
/*    background: rgba(234, 20, 20, 0);*/
/*}*/

.link-on-page{
    color: #001640;
    font-size: 16px;
    text-decoration: none;
    padding: 20px 15px;
}

.link-on-page:hover{
    background: rgba(144, 153, 168, 0.51);
}

.link-on-lang {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
    cursor: pointer;
    list-style: none;
}

.link-on-lang1 {
    list-style: none;
    position: relative;
    display: none;
    cursor: pointer;
    padding: 10px;
    background-color: #243D61;
    border-radius: 5px;
    color: white;
    text-align: center;
}

/* Скрываем выпадающее меню по умолчанию */
.dropdown1 {
    list-style: none;
    position: absolute;
    top: 100%;
    left: -40px;
    background: #243D61;
    padding: 5px 0;
    margin: 2px 0 0;
    /*padding: 3px 20px;*/
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
    /*border-radius: 5px;*/
    display: none;
    min-width: 120px;
    z-index: 1000;
}

/* Показываем выпадающее меню при наведении */
.link-on-lang1:hover .dropdown1 {
    display: block;
}

/* Стили для элементов выпадающего списка */
.dropdown-under1 {
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.dropdown-under1:hover {
    background-color: rgba(70, 95, 133, 0.71);
}

/* Убираем границу у последнего элемента */
.border-no {
    border-bottom: none;
}

.link-on-lang > li {
    /*background-color: #007BFF;*/
    color: #001640;
    /*padding: 10px 20px;*/
    text-align: center;
}

.link-on-lang > li:hover {
    /*background-color: #0056b3;*/
}

/* Скрытый выпадающий список */
.link-on-lang .dropdown {
    display: none;
    position: absolute;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /*min-width: 150px;*/
    z-index: 1;
    list-style: none;
    right: 0px;
    padding: 5px 0;
    margin: 2px 0 0;
    background: #dfe7f3;
}

.dropdown-under{
    padding: 15px 40px;
    border-bottom: 1px solid white;
}

.border-no{
    border: none;
}

/*.link-on-lang .dropdown li {*/
/*    color: #333;*/
/*    !*padding: 10px 20px;*!*/
/*    text-align: left;*/
/*    border-bottom: 1px solid #ddd;*/
/*}*/

.link-on-lang .dropdown li:hover {
    background-color: #f0f0f0;
}

.link-on-lang:hover .dropdown {
    display: block;
}

.backgrond-dominica{
    background: url('images/dominica.jpg') center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 2560px;
    height: 400px;
    overflow: hidden;
    gap: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name-site{
    font-size: 38px;
    color: #fff;
    font-family: "Raleway", sans-serif;
    text-transform: none;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.041);
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 0.2px;
}

.apply-now-online{
    font-family: "Roboto";
    font-size: 24px;
    letter-spacing: 0.2px;
    margin-top: 24px;
    font-weight: bold;
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#71BD3A), to(#39780C));
    background: -webkit-linear-gradient(top, #71BD3A 0%, #39780C 100%);
    background: linear-gradient(180deg, #71BD3A 0%, #39780C 100%);
    border: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 12px 72px;
    cursor: pointer;
}

.apply-now-online:hover{
    background: #264610;
}

.e-tick{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-on-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}

.form-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.form-link1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.sign-form{
    width: 81px;
    height: 80px;
    background: url('images/css_sprites.png') 0px 0px;
}

.sign-form1{
    width: 81px;
    height: 80px;
    background: url('images/css_sprites.png') -85px 0px;
}

.sign-form2{
    width: 81px;
    height: 80px;
    background: url('images/css_sprites.png') 0px -80px;
}




.sign-form3{
    width: 39px;
    height: 43px;
    background: url('images/css_sprites.png') -172px -105px;
}

.sign-form4{
    width: 47px;
    height: 48px;
    background: url('images/css_sprites.png') -172px -10px;
}

.sign-form5{
    width: 50px;
    height: 47px;
    background: url('images/css_sprites.png') -91px -90px;
}

.sign-form6{
    width: 47px;
    height: 47px;
    background: url('images/css_sprites.png') -172px -58px;
}

.link-on-form2{
    max-width: 210px;
}

.dom-e{
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.2px;
    text-align: center;
    color: #243D61;
}

.photo-qr{
    max-width: 250px;
    height: 217px;
}

.descript{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    padding: 20px 0;
}

.descript1{
    max-width: 486px;
}

.descript-dominic{
    /*padding-bottom: 32px;*/
    font-size: 32px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #2f4f7e;
    letter-spacing: 0.2px;
}

.descript2{
    font-family: "Roboto";
    line-height: 26px;
    color: #666;
    padding-bottom: 16px;
    font-size: 16px;
    letter-spacing: 0.2px;
}

.descript3{
    background: #dfe7f3;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    display: flex;
}

.color-white{
    color: #fff;
}

.advantage{
    background: #243D61;
    padding: 30px 0;
}

.country-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1400px;
    gap: 1rem;
    max-height: 400px; /* Display only 4 rows (50px each) */
    overflow: hidden;
    transition: max-height 0.3s ease;
    position: relative;
}

.country-list::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 400px; /* Высота градиента */
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    pointer-events: none; /* Градиент не мешает кликам */
    z-index: 1;
}

.country-list.expanded::after {
    display: none; /* Убираем градиент, если список раскрыт */
}

.country-item{
    width: 220px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid #CCCCCC;
    padding: 5px;
    box-shadow: 0px 0px 4px 0px #CCCCCC;
    color: #192b44;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.country{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}

h1{
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #2f4f7e;
    text-align: center;
    margin: 0 0 32px 0;
    letter-spacing: 0.2px;
}

table{
    max-width: 900px;
    border-collapse: collapse;
    width: 100%;

}

thead{
    background: #dfe7f3;
}

.table1{
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 400px){
    .table1{
        font-size: 12px;
    }
}

@media (max-width: 460px){
    .apply{
        display: none;
    }

    .link-on-lang{
        display: none;
    }

    .box-menu{
        padding-right: 0;
    }

    .under-menu2{
        display: block;
    }

    .under-menu1{
        display: none;
    }

    .link-on-lang1{
        display: inline-block;
    }
}

.confirm{
    color: green;
    font-size: 24px;
    background-color: #f1fff4;
}

.stop{
    color: red;
    font-size: 24px;
}

.footer{
    background: #243D61;
    padding-top: 20px;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    padding-right: 10px;
    padding-left: 10px;
}

.ssl{
    display: flex;
    align-items: center;
}

.footer-box2{
    max-width: 400px;
    display: flex;
    gap: 1rem;
}

.footer1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 20px;
}

.container-foot{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ssl2{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: #fff;
    margin: 10px;
}

.link-foot{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

.link-foot:hover{
    text-decoration: underline;
}

.footer-box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer2{
    text-align: center;
    width: 100%;
    border-top: 1px solid white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    padding: 20px 0;
}

.country-flag{
    width: 40px;
}

.country-item img {
    width: 40px;
    height: auto;
}

.show-more {
    margin-top: 10px;
    padding: 10px;
    /*background-color: #007bff;*/
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 800;
    color: #666;
    background: white;
}

/*.show-more:hover {*/
/*    background-color: #0056b3;*/
/*}*/

.country-list.expanded {
    max-height: 100%; /* Достаточная высота для полного списка */
}

.form-submit{
    background: #f1f1f1;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.submit-applic{
    max-width: 1140px;
    background: #dfe7f3;
    display: flex;
    align-items: center;
    gap: 7rem;
    border: 1px solid #2b4974;
    margin-bottom: 30px;
}


.submit-applic-part1{
    background: #2b4974;
    width: 425px;
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
}

.submit-applic-part1::after{
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 50px solid #2b4974;
    border-bottom: 25px solid transparent;
    position: absolute;
    left: 425px;
    top: 0px;
}

.description1{
    padding-left: 30px;
    color: #fff;
    font-family: Roboto;
}

.description2{
    color: #243D61;
    font-family: Roboto;
    padding-right: 30px;
}

.submit-applic1{
    max-width: 1140px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-group{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 15px 30px;
}

.text-ad{
    width: 100%;
    max-width: 450px;
    height: 46px;
    background-color: #ffffff;
    font-size: 16px;
    padding-left: 10px;
    border-radius: 2px;
    border: 1px solid #c0c6ef;
    color: gray;
}

.text-ad3{
    width: 100%;
    max-width: 462px;
    height: 46px;
    font-size: 16px;
    padding-left: 10px;
    border-radius: 2px;
    border: 1px solid #c0c6ef;
    color: gray;
}

.form2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

.form3{
    display: flex;
    flex-direction: row;
}

.form-group-sex{
    width: 50%;
    padding: 15px 30px;
}

.form4{
    align-items: center;
}

.take-num{
    /*width: 100%;*/
    width: 60px;
    border-radius: 2px;
    border: 1px solid #c0c6ef;
    color: gray;
}

.text-ad1{
    width: 100%;
    max-width: 390px;
    height: 46px;
    border: 1px solid #c0c6ef;
    border-radius: 2px;
}

.take-num2{
    display: flex;
    width: 450px;
}

.name-of-input{
    color: #666;
    font-family: "Roboto";
    font-size: 1em;
    margin-bottom: 10px;
    font-weight: normal;
    letter-spacing: 0.2px;
}

.card-detail{
    max-width: 100%;
    height: 30px;
    background: #2b4974;
    color: #ffffff;
    font-size: 1em;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.name-of-input-under{
    color: dimgrey;
    font-size: 14px;
    line-height: 130%;
    margin-top: 10px;
}

.button-submit{

}

.link-apply-now{
    text-decoration: none;
    color: white;
}

.step1{
    color: #337ab7;
}

